@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family */

@font-face {
    font-family: "Gilroy-Light";
    src: url("../public/fonts/GILROY-LIGHT.OTF");
  }
  
@font-face {
    font-family: "Gilroy-Regular";
    src: url("../public/fonts/Gilroy-Regular.ttf");
  }

  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../public/fonts/Gilroy-Medium.ttf");
  }

  @font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../public/fonts/Gilroy-SemiBold.ttf");
  }
 
  @font-face {
    font-family: "Gilroy-Bold";
    src: url("../public/fonts/GILROY-BOLD.TTF");
  }
 
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../public/fonts/GILROY-EXTRABOLD.OTF");
  }

  @font-face {
    font-family: "Avenir-Medium";
    src: url("../public/fonts/AvenirLTStd-Medium.otf");
  }
 
  @font-face {
    font-family: "Avenir-Book";
    src: url("../public/fonts/AvenirLTStd-Book.otf");
  }
 
  @font-face {
    font-family: "Avenir-Roman";
    src: url("../public/fonts/AvenirLTStd-Roman.otf");
  }
 
  @font-face {
    font-family: "ProductSans-Regular";
    src: url("../public/fonts/ProductSansRegular.ttf");
  }
 
  @font-face {
    font-family: "ProductSans-Bold";
    src: url("../public/fonts/ProductSansBold.ttf");
  }
 
  @font-face {
    font-family: "Vi-Bold";
    src: url("../public/fonts/Vi-Bold.ttf");
  }
 
  @font-face {
    font-family: "Vi-Regular";
    src: url("../public/fonts/Vi-Regular.ttf");
  }
 
  @font-face {
    font-family: "Vi-Medium";
    src: url("../public/fonts/Vi-Medium.ttf");
  }
